# base
.DS_Store
.idea/
.vscode/
.vs/
__pycache__

# native deps
native/android/libs/*
!native/android/libs/.gitkeep

native/ios/libs/*
!native/ios/libs/.gitkeep

native/mac/libs/*
!native/mac/libs/.gitkeep

native/windows/libs/*
!native/windows/libs/.gitkeep

# develop deps
node_modules/
package-lock.json
yarn.lock

# outputs
_out/
/VERSION.txt

# Xcode
xcuserdata
